.form-background {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2027&q=80");
  background-size: cover;
  filter: brightness(0.9);
}

.auth-form {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 1em;
  margin: 6em auto;
  max-width: 480px;
  color: white;
  /* filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.5)); */
  /* -webkit-box-shadow: 0px 10px 25px 6px rgba(0, 0, 0, 0.54); */
  /* box-shadow: 0px 10px 25px 6px rgba(0, 0, 0, 0.54); */
}

.auth-form h2 {
  text-align: center;
}

.auth-form input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  /* background-image: url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2027&q=80"); */
  color: white;
  padding: 0 0.75em;
  /* border-radius: 8px; */
}

.auth-form button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  outline: none;
  color: white;
  font-size: larger;
  /* border-radius: 8px; */
  padding: 0 15px 5px;
  position: relative;
  margin: 10px 0;
  left: 50%;
  transform: translate(-50%);
}

.auth-form button:focus {
  outline: none;
}

/* Input {
  border: 5px solid red;
} */

.nav-button {
  color: white;
  cursor: pointer;
  margin-left: 1.5em;
}

.nav-button:hover {
  color: white;
  text-decoration: none;
}

.reg-error {
  color: red;
  margin-left: 1em;
}

/*Photo of the Day*/
.nasa-photo {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  padding: 80px 40px 0;
  margin: 0;
  max-height: fit-content;
  max-width: fit-content;
  background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
  border: lightgrey 2px;
}

.nasa-photo h1 {
  margin-top: 70px;
  margin-bottom: 0;
  color: white;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
  color: white;
}

.nasa-photo .explanation {
  color: white;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.astro {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;*/
  background-color: #3e4670;
  height: 100%;
}

.astro {
  background: url(https://i.redd.it/imkv74m4q5g41.png);
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  z-index: -1;
}

/* .astro .welcome {
  text-align: center;
  color: white; 
  font-family: monospace;
  font-size: 90%;
} */

.astro .container {
  padding: 0px;
  padding-top: 70px;
}

.astro .col {
  background-color: #6f6a79;
  margin: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 4px 11px 18px 0px rgba(51, 51, 51, 1);
  -moz-box-shadow: 4px 11px 18px 0px rgba(51, 51, 51, 1);
  box-shadow: 4px 11px 18px 0px rgba(51, 51, 51, 1);
}

#nasabutton {
  max-width: 300px;
  min-width: 300px;
  max-height: 600px;
  min-height: 600px;
  font-size: 20px;
  background: #3e4670;
  color: #fff;
  border-radius: 0px;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

#nasabutton:hover {
  border-radius: 50%;
  background: #3e4670;
  text-emphasis-color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

/* base styles & title */
.PhotoForm {
  background: #3e4670;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  padding-top: 50px;
}

.ImageTitle h2 {
  color: white;
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
}
.ImageTitle p {
  text-align: center;
  color: white;
}

/* upload form styles */
.imageForm {
  margin: 30px auto 10px;
  text-align: center;
  color: white;
}

.imageLabel input {
  height: 0;
  width: 0;
  opacity: 0;
}

#imageLabel {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid navy;

  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: navy;
  font-weight: bold;
  font-size: 24px;
}

#imageLabel:hover {
  background: navy;

  color: white;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: red;
}

/* progress bar styles */
progress-bar {
  height: 5px;
  background: white;
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 305px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.modal-form {
  padding: 1em;
}

.other-data {
  list-style: none;
  padding-left: 0;
}

.all-features {
  max-width: 250px;
  min-width: 250px;
  display: block;
  margin: 12px;
  border-radius: none;
  list-style: none;
}

#card-title-style {
  line-height: 2;
  font-size: large;
}

#feature-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#card-style {
  border-radius: 0;
  background-color: white;
}

#card-text-style ul {
  list-style-type: none;
  padding: 0;
}

#card-text-style .btn {
  border: 2px solid white;
  border-radius: 0;
  background-color: #3e4670;
  color: white;
}

#sky-title {
  padding: 30px;
  color: white;
}

/* Personal Buttons */
#picturelog {
  height: 600px;
  width: 300px;
  background-color: #3e4670;
  border-radius: 0px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

#picturelog:hover {
  border-radius: 50%;
  background: #3e4670;
  text-emphasis-color: white;
}

#weatherImg {
  height: 220px;
  width: 220px;
}

#cardOutline {
  padding-top: 70px;
  align-items: center;
  padding-left: 3px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #3e4670;
  height: 600px;
  color: white;
}

#viewHeader {
  text-align: center;
  color: white;
  padding-top: 20px;
}

#saveFeatureContainer {
  background: url(https://steamuserimages-a.akamaihd.net/ugc/169285679026579225/47F1E70BD90DB25A97F3B761B07764F7F947287E/);
  position: absolute;
  min-height: 100vh;
  top: 0;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 150px 50px 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
}

#viewAllHeader {
  text-align: center;
}

.add-image {
  font-weight: bold;
  font-size: 25px;
}
